<!-- experience.html -->
{% extends 'layout.html' %}

{% block body %}
{% set title = "Autoreklama" %}
{% set profile = 0 %}
<title>{{title}}</title>
<div id="content_container">
    <!-- TITLE & QUOTE -->
    <div class="block">
        <h1>{{title}}</h1>
        <blockquote class="profile_quote">
            <p>"I'm not perfect. Sometimes I volunteer too much. Sometimes I give too much to charity..."</p>
            <p>Michael Scott (The Office)</p>
            <span class="entypo-quote"></span>
        </blockquote>
    </div>
    <!-- A FEW WORDS ABOUT ME -->
    <div class="block">
        <h2>Kilka zdań o mnie:</h2>
        <p>{{info['profile']['about']}}</p>
    </div>
    <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
    </div>
    <!-- LET'S GET IN CONTACT -->
    <div class="block">
        <h2>Kontakt</h2>
        <p class="purple">Telefon:</p>
        <p>{{info['profile']['contact']['phone']}}</p>

        <p class="purple">E-Mail:</p>
        <p>{{info['profile']['contact']['email']}}</p>

        <!--    <p class="purple">Address:</p>-->
        <!--<p>{{info['profile']['contact']['address']}}</p>-->
    </div>
    <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
    </div>
    <!-- INTERESTS & HOBBIES -->
    <div class="last block">
        <h2>Hobby i zainteresowania:</h2>
        <p>Głównie pogłębianie wiedzy z zakresu prowadzenia własnego HomeLabu i zajawki humanistyczne.</p>
        {% for value in info['profile']['zainteresowania'] %}
        <ul>
            <li>{{value}}</li>
        </ul>
        {% endfor %}
    </div>

</div>
{% endblock %}